ACCOUNT_MONGODB_URI=
DRIVER_MONGODB_URI=
RIDE_MONGODB_URI=
PAYMENT_MONGODB_URI=
JWT_SECRET=REPLACE_WITH_YOUR_OWN_SECRET_OF_AT_LEAST_32_BYTES
DRIVER_SERVICE_URL=http://localhost:8082
FARE_PAYMENT_SERVICE_URL=http://localhost:8084
