ACCOUNT_MONGODB_URI=
DRIVER_MONGODB_URI=
RIDE_MONGODB_URI=
PAYMENT_MONGODB_URI=
JWT_SECRET=yURPJ4Our8+4SznjJZV0RL7kttwqJIFhhMEmFgu6VXE=
DRIVER_SERVICE_URL=http://localhost:8082
FARE_PAYMENT_SERVICE_URL=http://localhost:8084
